body {
  background-color: paleturquoise;
}
h1 {
  color: green;
  font-family: verdana;
  font-size: 150%;
  padding: 30px;
}
h2 {
  color: green;
  font-family: verdana;
  font-size: 150%;
  padding: 30px;
}
p {
  color: black;
  font-family: courier;
  
  margin: 50px;
}